HONOR_ENV=production
HONOR_OWNER_USER_ID=00000000-0000-0000-0000-000000000000
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=0
CELERY_BROKER_DB=1
CELERY_RESULT_DB=2
HONOR_WORKER_CONCURRENCY=1
HONOR_RECONCILE_INTERVAL_SECONDS=15
HONOR_REDISPATCH_MIN_AGE_SECONDS=30
HONOR_JOB_HEARTBEAT_INTERVAL_SECONDS=20
HONOR_WORKER_MONITOR_INTERVAL_SECONDS=60
HONOR_RECONCILER_HEALTH_TTL_SECONDS=75
